$bg = #f5f3e9
$gray = #484948
$text-dark = #484948
$text-light = #fffff2
$border-light = #d6d4cf
$color-white = #ffffff
$color-grass = #93a964
$color-sun = #f9b017
$color-aqua = #88c9b3
$color-heart = #ffb2a8
$color-turquoise = #3d9483
